KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/crash_me.asm.o \
$(ARCHDIR)/boot.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/segmentation/gdt.c.o \
$(ARCHDIR)/segmentation/gdt.asm.o \
$(ARCHDIR)/interrupts/idt.c.o \
$(ARCHDIR)/interrupts/idt.asm.o \
$(ARCHDIR)/interrupts/isr.c.o \
$(ARCHDIR)/interrupts/isr.asm.o \
$(ARCHDIR)/interrupts/pic.c.o \
$(ARCHDIR)/io/outportb.asm.o \
